/**** NAVBAR ****/
nav {
  z-index: 2;
}

.navbar-brand {
  width: 10rem;
}

.logo {
  width: 10rem;
}

/**** MENU LINKS ****/
nav a.nav-link {
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-bottom: 0.1875rem solid transparent;
  min-width: fit-content;
  max-width: 97px;
}

.navbar-nav > li > a:focus {
  border-bottom: 0.1875rem solid var(--primary-teal);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.1875rem solid var(--primary-teal);
}

/**** NAVBAR MEDIA ****/
/* @media (max-width: 767.98px) {
  .navbar-brand {
    width: 10rem;
  }
  .logo {
    width: 10rem;
  }
}

@media (max-height: 380px) and (max-width: 767.98px) and (orientation: landscape) {
  .navbar-brand {
    width: 10rem;
  }
  .logo {
    width: 10rem;
  }
} */

@media (min-height: 380px) and (min-width: 767.98px) and (orientation: landscape) {
  .logo {
    width: 16.25rem;
  }

  .navbar-brand {
    max-width: 17.25rem;
  }
}
